#header-img{
  width:5%;
  max-width:100%;
  height:auto;
}
#title{
  position:absolute;
  left:100px;
  top:0px;
  font-size:30px;
}
#nav-bar{
  position:fixed;
  right:80px;
  top:0px;
}
.nav-link{
  padding-left:150px;
  text-decoration:none;
}
#pricing{
  display:flex;
  flex-direction:row;
  justify-content:space-around; 
  margin-top:40px;
}
.child-prices{
  border:4px  black solid;
  width:20%;
  padding-left:30px;
  padding-bottom:20px;

}
.end{
  float:right;
  text-decoration:none;
  padding-left:30px;
  padding-right:30px;
}
#p-end{
  float:right;
margin-right:-280px;
}

@media(max-width:100px){
  p{
    font-size:12px;
  }
  h2{
    font-size:18px;
  }
  h3{
    font-size:14px;
  }
}
footer{
  margin-top:25px;
}
